@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Oswald:wght@500&display=swap");

:root {
  --primary-color: #ecad29;
  --text-color: #FFFFFFDD;
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--text-color);
}